/*
* @Author: asus
* @Date:   2017-12-07 16:05:21
* @Last Modified by:   asus
* @Last Modified time: 2017-12-11 14:32:47
*/
*{
	margin: 0;
	padding: 0;
	list-style: none
}
a{
	text-decoration: none;
}